
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.app{
  display: flex;
  background-color: #f4f4f4;
}

.sidebar{
  flex: 1;
  height: calc(100vh - 50px);
  position: sticky;
  background-color: rgb(1, 18, 32);
  top: 50px;
}

.menu{
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.workflow{
  flex: 4;
  background-color: #f4f4f4;
}




.links_card{
  cursor: pointer;
  list-style: none !important;
  text-decoration: none !important;
}

.card_font{
  font-family: 'Poppins', sans-serif !important;
}


.links{
  padding: .5rem;
  display: flex;
  cursor: pointer;
  list-style: none !important;
  text-decoration: none !important;
}

.links:hover{
  background-color: #f4f4f4
}

.menu_links{
  margin-left: 10px;
  margin-top: 3px;
}

/* home style */

.home{
  padding: 1rem;
}

